@{
    ViewData["Title"] = "Home Page";
    bool isLoggedIn = ViewBag.IsLoggedIn ?? true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

    <style>
        .logo {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .welcome-message {
            margin-bottom: 20px;
            font-size: 1.5em;
        }

        .buttons .btn {
            margin-right: 10px;
            background-color: #007bff;
            color: white;
        }
        /* Add this to your site.css or another CSS file */
        .btn.disabled {
            pointer-events: none;
            opacity: 0.65;
        }

    </style>
</head>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-success">@ViewBag.ErrorMessage</div>
    }
    <div class="container text-center" style="margin-top:10%">
        <div class="logo">Emazon</div>
        <div class="welcome-message">Welcome to Emazon - Your ultimate shopping destination!</div>
        @if (isLoggedIn)
        {
            <div class="buttons">
                <a class="btn" id="shop-now-btn">Shop Now</a>
                <a class="btn" id="learn-more-btn">Learn More</a>
                <a class="btn" id="special-offers-btn">Special Offers</a>
                <a class="btn" id="profile-btn" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                <a class="btn" id="profile-btn" asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
            </div>
        }
        else
        {
            <div class="buttons">
                <a class="btn btn-secondary disabled" id="shop-now-btn">Shop Now</a>
                <a href="#" class="btn btn-secondary" id="learn-more-btn">Learn More</a>
                <a class="btn btn-secondary disabled" id="special-offers-btn">Special Offers</a>
                <a class="btn btn-secondary disabled" id="profile-btn">Profile</a>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
