@model emazon.Models.LoginViewModel

@{
    ViewData["Title"] = "Emazon - Profile";
}

<h2>User Profile</h2>

<div>
    <p><strong>Email:</strong> @Model.email</p>
    <!-- Add more user details here -->
</div>
